// Marker at the top right denoting the banner is an ad
.ad-notation {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    z-index: 5;
    background: white;
    padding: 0.15rem 0.25rem;
    border-radius: 3px;
    background: rgba(86, 86, 86, 0.5);
    text-transform: uppercase;
    color: white;

    h6 {
      font-size: 0.5rem;
        margin: 0;
    }
}