.simple-image-ad {
    border-radius: 7px;
    background-size: cover;
    padding: 2rem;

    position: relative;


    .ad-notation {
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 5;
        background: white;
        padding: 0.25rem;
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(3px);
        text-transform: uppercase;
        color: white;

        h6 {
            margin: 0;
        }
    }

    .ad-container {
        padding: 1rem;
        
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        border-radius: 7px;
        justify-content: center;
        height: 100%;
        flex-flow: row wrap;
        margin: 1rem 0;
        
        @media screen and (min-width: 935px) {
            padding: 2rem;
            justify-content: space-between;
            max-width: 50%;
            margin: 0;
        }

        img {
            max-width: 100%;
            z-index: 3;

            @media screen and (min-width: 550px) {                
                max-width: 50%;
                margin-right: 2rem;
            }

        }

        a {
            @media screen and (min-width: 935px) {
                margin: 0;
            }
            margin: 1rem; 
            z-index: 3;
            background: #57068C;
            border-radius: 7px;
            padding: 0.8rem 1rem;
            color: white;
            font-weight: bold;
            font-size: 1.25rem;
            transition: background-color 0.25s ease, transform 0.25s ease;
            // margin-bottom: 0;
            &:hover {
                transform: scale(1.08);
                background-color: rgb(66, 17, 99);
            }
        }
    }
}